#wrapper {
	border: 0px solid black;
	margin: 0 auto;
	width: 1200px;
}

#header {
	border: 0px solid black;
	margin: 10px;
	text-align: center;
	text-shadow: 0px 5px 5px gray;
	font-size: 20px;
}

#menu {
	border: 0px solid black;
	margin: 10px;
}

#selectionPart_A {
	border: 0px solid black;
	margin: 10px;
	margin-left: 40px;
	width: 460px;
	float: left;
}

#selectionPart_B {
	border: 0px solid black;
	margin: 10px;
	margin-left: -10px;
	width: 100px;
	float: left;
}

#contents {
	border: 0px solid black;
	margin: 10px;	
}

#tableShowed {
	border: 0px solid black;
	margin: 10px;	
	width: 832px;
	float: left;
}

#informationShowed {
	border: 0px solid black;
	margin: 10px;		
	width: 300px;
	float: right;
}

#productInfo {
	border: 0px solid black;
	margin: 10px;	
}

#customerInfo {
	border: 0px solid black;
	margin: 10px;	
}

#footer {
	border: 0px solid black;
	margin: 10px;	
	text-align: center;
}

.title {
	font-weight: 900;
	color: black;
	font-size: 20px;
}

.productName {
	text-align: center;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

table {
	margin: auto;
	float: center;
	text-align: center;
	padding: 4px;
}

td {
	padding: 4px;
}

tr {
	padding: 4px;
}

table a {
	text-decoration: none;
	color: purple;
	font-weight: 600;
}

table span {
	text-decoration: none;
	color: black;
	font-weight: 600;
}
